<footer class="text-white pt-3 pb-3 bg-gradient-overlay gradient-background">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-md-6 text-center text-md-start">
                <p>&copy; <script>document.write(new Date().getFullYear());</script> YTGrab. All rights reserved.</p>
            </div>
            <div class="col-md-6 text-center text-md-end">
                <a href="https://www.facebook.com" class="btn-floating btn-sm text-white" style="font-size:25px;">
                    <i class="bi bi-facebook"></i>
                </a>
                <a href="https://twitter.com" class="btn-floating btn-sm text-white" style="font-size:25px;">
                    <i class="bi bi-twitter"></i>
                </a>
                <a href="https://www.instagram.com" class="btn-floating btn-sm text-white" style="font-size:25px;">
                    <i class="bi bi-instagram"></i>
                </a>
                <a href="https://telegram.org" class="btn-floating btn-sm text-white" style="font-size:25px;">
                    <i class="bi bi-telegram"></i>
                </a>
                <a href="https://www.youtube.com" class="btn-floating btn-sm text-white" style="font-size:25px;">
                    <i class="bi bi-youtube"></i>
                </a>
            </div>
        </div>
    </div>
</footer>