<div class="container mt-5">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/" style="color: #FF0000;"><i class="fa fa-home" style="margin-right: 5px; color: #FF0000;"></i>Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">About Us</li>
            </ol>
        </nav>
    </div>
    
    <section class="about-section text-center">
        <div class="container">
            <h2 style="font-weight: bolder;">About SnapURL!</h2>
            <div class="custom-line"></div>

            <div class="description-box mb-5">
                <h4 style="font-weight: bold;">What Makes SnapURL! Unique?</h4>
                <p>At SnapURL!, we focus on giving you more than just a URL shortener. Whether you're an influencer, a business, or simply someone who shares links regularly, SnapURL! provides the tools you need to get the most out of your shared URLs. With analytics, customization, and ease of use, we are revolutionizing how URLs are shared on the web.</p>
            </div>
    
            <div class="row">
                <div class="col-md-4">
                    <div class="team-card">
                        <div class="team-card-header">
                            <h5>Ashif Hassan</h5>
                            <p>Founder & CEO</p>
                        </div>
                        <div class="team-card-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam.</p>
                            <div class="social-icons">
                                <a href="https://www.facebook.com" class="fab fa-facebook"></a>
                                <a href="https://twitter.com" class="fab fa-twitter"></a>
                                <a href="https://www.instagram.com" class="fab fa-instagram"></a>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="col-md-4">
                    <div class="team-card">
                        <div class="team-card-header">
                            <h5>Muhammad Ashil</h5>
                            <p>Product Manager</p>
                        </div>
                        <div class="team-card-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam.</p>
                            <div class="social-icons">
                                <a href="https://www.facebook.com" class="fab fa-facebook"></a>
                                <a href="https://twitter.com" class="fab fa-twitter"></a>
                                <a href="https://www.instagram.com" class="fab fa-instagram"></a>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="col-md-4">
                    <div class="team-card">
                        <div class="team-card-header">
                            <h5>Raziya Hassan</h5>
                            <p>Lead Developer</p>
                        </div>
                        <div class="team-card-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam.</p>
                            <div class="social-icons">
                                <a href="https://www.facebook.com" class="fab fa-facebook"></a>
                                <a href="https://twitter.com" class="fab fa-twitter"></a>
                                <a href="https://www.instagram.com" class="fab fa-instagram"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>