<div class="result-container mt-5">
    <!-- YouTube Community Post Result -->
    <div class="center-box">
        <h2 class="text-danger text-center">YouTube Community Post - Download</h2>
        <div class="post-container my-4">
            <img src="" alt="Community Post Image" class="img-fluid rounded">
        </div>
        <button class="btn btn-custom btn-lg my-3">Download Image</button>
        <p class="description text-center">Download the image from the YouTube Community Post directly to your device. Just click the button above!</p>
    </div>
</div>