<div class="container mt-5">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/" style="color: #FF0000;"><i class="fa fa-home" style="margin-right: 5px; color: #FF0000;"></i>Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Contact Us</li>
            </ol>
        </nav>
    </div>

    <div class="container mt-5">
        <div class="row">
            <div class="col-12 text-center mb-4">
                <h2 style="font-weight: bolder;">Contact Us</h2>
                <div class="custom-line"></div>
                <div class="line"></div>
            </div>
        </div>
    </div>

    <div class="container mb-4">
        <div class="row info-b">
            <div class="col-12 col-md-4">
                <div class="contact-information">
                    <h5>Address</h5>
                    <p>Info park SEZ, Kusumagiri P O, Kakkanad, Kochi, 682030</p>
                    <h5>Phone</h5>
                    <p>+919876543210</p>
                    <h5>Email</h5>
                    <p class="mb-0">contactSnapURL!@gmail.com</p>
                </div>
            </div>
            <div class="col-12 col-md-8">
                <div class="contact-form">
                    <div class="section-heading">
                        <h3>Get In Touch</h3>
                        <div class="line-c"></div>
                    </div>
                    <form id="contactForm">
                        <div class="row">
                            <div class="col-lg-6">
                                <input type="text" name="name" id="messageName" class="form-control mb-30" placeholder="Your Name">
                            </div>
                            <div id="messageNameError" class="error-message" style="margin-left: 5px;"></div>
                            <div class="col-lg-6">
                                <input type="email" name="email" id="messageEmail" class="form-control mb-30" placeholder="Your Email">
                            </div>
                            <div id="messageEmailError" class="error-message" style="margin-left: 5px;"></div>
                            <div class="col-12">
                                <textarea name="message" id="messageContent" class="form-control mb-30" placeholder="Your Message"></textarea>
                            </div>
                            <div id="messageContentError" class="error-message" style="margin-left: 5px;"></div>
                            <div class="col-12">
                                <button type="submit" class="btn contact-btn">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>