<div class="center-wrapper">
    <div class="card">
        <div class="card-header">
            <h2 class="form-title">Download YouTube Shorts and Community Posts</h2>
        </div>
        <div class="card-body">
            <form id="downloadForm">
                <h6 class="form-subtitle">Paste the YouTube Shorts or Community Post URL</h6>
                <div class="form-group">
                    <input class="form-control" name="videoUrl" id="urlInput" placeholder="Enter YouTube link here">
                    <span id="urlInputError" class="error-message" style="margin-left: 5px;"></span>
                </div>
                <button type="submit" class="btn-custom">Search</button>
                <p class="description-text">YTGrab is a free tool for downloading YouTube Shorts or Community Posts. Simplify your download experience!</p>
            </form>
        </div>
    </div>
</div>
